html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  text-align: left;
  color: #000000;

  margin: 0px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Fira Sans", sans-serif;
}
.background {
  background-color: #f7f7f7;
  border-radius: 15px;
  margin: 0 0 16px 0;
  padding: 30px 20px 40px 20px;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  body {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .background {
    padding: 50px 40px 60px 40px;
  }
}
