.caption {
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 0.5;
  margin: 0;
}
.input {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 40px 0;
}
.result {
  font-weight: 800;
  font-size: 5rem;
  margin: 0;
  text-align: center;
}
